body {
    background: url(Images/main.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    }

hr {
    border: none;
    color: transparent;
    background-color: transparent;
    height: 0; /* Adjust if you want to keep some spacing */
    }


    .social_media_links{
        margin-left: 500px;
      }
      
    .spotify_image{
        border: 2px ridge black;
        border-radius: 15px 50px;
    }

    .insta_image{
        border: 2px ridge black;
        border-radius: 15px 50px;
    }

    .linkedin_image{
        border: 2px ridge black;
        border-radius: 15px 50px;
    }

    .social_media_links :hover{
        transform: translateY(-2px);
    }


   .col-lg-6{
    color: white;
   }

   .img-profile {
    max-width: 400px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 90px;

}

/* Fade in from the left for text */
@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Fade in from the right for image */
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in-left {
    animation: fadeInLeft 1s ease-out forwards;
  }
  
  .fade-in-right {
    animation: fadeInRight 1s ease-out forwards;
  }