body {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    }

hr {
    border: none;
    color: transparent;
    background-color: transparent;
    height: 0; /* Adjust if you want to keep some spacing */
    }


    .social_media_links{
        margin-left: 500px;
      }
      
    .spotify_image{
        border: 2px ridge black;
        border-radius: 15px 50px;
    }

    .insta_image{
        border: 2px ridge black;
        border-radius: 15px 50px;
    }

    .linkedin_image{
        border: 2px ridge black;
        border-radius: 15px 50px;
    }

    .social_media_links :hover{
        transform: translateY(-2px);
    }


    .relevantcourses-involvements-section {
       
        padding: 20px; /* Add some padding around the text */
        border-radius: 5px;
        color:white;
    }

    .col-lg-6{
      color: white;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
      padding: 20px; /* Add some padding around the text */
      border-radius: 5px; /* Optional: rounds the corners of the background */
      
     }

    @keyframes fadeInLeft {
        from {
          opacity: 0;
          transform: translateX(-50px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }

      @keyframes fadeInRight {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }

      .fade-in-left {
        animation: fadeInLeft 1s ease-out forwards;
      }

      .fade-in-right {
        animation: fadeInRight 1s ease-out forwards;
      }